<div class="container">
  <h2>
    <span i18n="All@@all">All</span>
    {{ queryCount }}
    <span i18n="Entities Type Labels@@entities_labels" *ngIf="type; let type">
      {type, select, artwork {Artworks} motif {Motifs} artist {Artists} location {Locations}
        genre {Genres} movement {Movements} material {Materials} iconography {Iconographies}}
    </span>
  </h2>

  <app-infinite-scroll (scrolled)="onScroll()">
    <div class="d-flex flex-wrap bd-highlight mb-3 m-auto justify-content-around">
      <div *ngFor="let entity of entities" class="item">
        <a *ngIf="entity && entity?.id" class="item-link" [routerLink]="['/' + type, entity?.id]">
          <div class="img-wrapper">
            <img *ngIf="entity?.imageMedium"
                 class="bd-highlight img-self"
                 src="{{ entity?.imageMedium }}"
                 alt="{{ entity?.label }}"
                 (error)="onLoadingError(entity)" />
            <img *ngIf="!entity?.imageMedium && entity?.image"
                 class="bd-highlight img-self"
                 src="{{ entity?.image }}"
                 alt="{{ entity?.label }}"
                 (error)="onLoadingError(entity)" />
            <img *ngIf="!entity?.imageMedium && !entity?.image && entity?.imageSmall"
                 class="bd-highlight img-self"
                 src="{{ entity?.imageSmall }}"
                 alt="{{ entity?.label }}"
                 (error)="onLoadingError(entity)" />
            <div class="error flex-column">
              <i class="fa fa-camera-retro"></i>
              <span i18n="error text@@entities_list_error" class="mt-3">An image is missing here</span>
            </div>
          </div>
          <div class="item-caption">
            <div *ngIf="type != 'iconography'" class="ml-1">
              <i class="mr-1 fas" [ngClass]="entity.icon"></i>
              <span>{{ entity.label }}</span>
            </div>
            <div *ngIf="type == 'iconography'" class="ml-1">
              <i class="mr-1 fas" [ngClass]="entity.icon"></i>
              <span>{{ entity.id }} {{ entity.label }}</span>
            </div>
            <div *ngIf="type != 'artwork'" class="ml-1">
              <i class="mr-1 fas fa-images"></i>
              <span>{{ entity.count }}</span>
            </div>
            <div *ngIf="type == 'artist'" class="ml-1">
              <div *ngIf="entity.dateOfBirth && entity.dateOfDeath">
                <span>{{ entity.dateOfBirth }} - {{ entity.dateOfDeath }}</span>
              </div>
              <div *ngIf="entity.dateOfBirth && !entity.dateOfDeath">
                <i class="mr-1 fa fa-star-of-life"></i>
                <span>{{ entity.dateOfBirth }}</span>
              </div>
              <div *ngIf="!entity.dateOfBirth && entity.dateOfDeath">
                <i class="ml-1 mr-1 fa fa-cross"></i>
                <span>{{ entity.dateOfDeath }}</span>
              </div>
            </div>
          </div>
        </a>
        <div *ngIf="entity && !entity.id" class="item-link">
          <div class="img-wrapper error flex-column">
            <i class="fa fa-camera-retro"></i>
            <span i18n="error text@@entities_list_error" class="mt-3">An image is missing here</span>
          </div>
        </div>
      </div>
    </div>
  </app-infinite-scroll>
</div>
