<div
  class="background-image"
  [ngStyle]="{
    'background-image': 'linear-gradient(rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.5)), url(' + backgroundImageUrl + ')'
  }"
></div>
<div class="container">
  <div class="container-search">
    <div class="d-flex justify-content-center row logo">
      <span>DDK</span>
      <h1>ArtBrowser</h1>
    </div>
  </div>

  <div class="d-flex justify-content-center row pt-4 mb-4">
    <div class="mb-4 container-category" *ngFor="let category of categories; let i = index"
         [ngClass]="i < 3 ? 'col-lg-4' : 'col-lg-3'">
      <div class="carousel-wrapper">
        <ngb-carousel>
          <div *ngFor="let item of category.items">
            <ng-template ngbSlide>
              <a
                class="container-image"
                [routerLink]="['/' + category.type, item?.id]"
                angulartics2On="click"
                angularticsAction="Home tiles"
                angularticsCategory="Navigation"
              >
                <img class="image" (error)="onLoadingError(category, item)" src="{{ item?.imageMedium }}"
                     alt="{{ item?.label }}" />
                <div class="overlay">
                  <span class="type badge badge-secondary badge-pill chip">
                    <i class="fas {{ category.icon }}"></i>
                    <ng-container i18n="Entity Type Labels@@entity_labels" *ngIf="category.type; let type">
                      {type, select, all {All} artwork {Artwork} type {Type} artist {Artist} location {Location} genre {Genre} material {Material} iconography {Iconography}}
                    </ng-container>
                  </span>
                  <span class="label">{{ item?.label | titlecase }}</span>
                </div>
              </a>
            </ng-template>
          </div>
        </ngb-carousel>

        <a class="entities-link" [routerLink]="[category.allLink]">
          <span class="entities-caption">
            <span i18n="All@@all">All</span>
            <span class="ml-1 mr-1" i18n="Entities Type Labels@@entities_labels" *ngIf="category.type; let type">
              {type, select, artwork {Artworks} type {Types} artist {Artists} location {Locations} genre {Genres} material {Materials} iconography {Iconographies}}
            </span>
            <i class="fas fa-chevron-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
