<div class="container entity artist">
  <div class="row mb-5 border-bottom pb-5">
    <app-wrong-id *ngIf="idDoesNotExist" [id]="artistId"></app-wrong-id>

    <div class="col-sm-7" *ngIf="artist">
      <app-title [entity]="artist"></app-title>

      <app-information *ngIf="artist?.dateOfBirth" i18n-label="Born infos label@@born" label="Born"
                       [value]="artist?.dateOfBirth"></app-information>
      <app-information *ngIf="artist?.dateOfDeath" i18n-label="Died infos label@@died" label="Died"
                       [value]="artist?.dateOfDeath"></app-information>

      <div *ngIf="artist?.gender || artist?.nationality || artist?.roles?.length || artist?.sourceIDs?.length">
        <app-collapse>
          <app-information *ngIf="artist?.gender" i18n-label="Artist gender label@@gender" label="Gender"
                           [value]="artist?.gender"></app-information>
          <app-information *ngIf="artist?.nationality" i18n-label="Nationality label@@nationality" label="Nationality"
                           [value]="artist?.nationality"></app-information>
          <app-information *ngIf="artist?.roles?.length" i18n-label="Roles label@@roles" label="Roles"
                           [value]="artist.roles.join(', ')"></app-information>
          <app-information *ngIf="artist?.sourceIDs?.length" i18n-label="Links label@@links" label="Links"
                           [sourceID]="artist?.sourceIDs"></app-information>
        </app-collapse>
      </div>
    </div>
    
    <div class="col-sm-5 img" *ngIf="artist?.imageMedium">
      <img class="img-fluid rounded-circle" src="{{ artist?.imageMedium }}" alt="" />
    </div>
  </div>

  <div *ngIf="sliderItems?.length">
    <ul class="nav nav-tabs">
      <li *ngIf="showTimelineTab" class="nav-item">
        <a class="nav-link" [ngClass]="{ active: showTimelineNotArtworks }" data-toggle="tab" href="#timeline_tab">
          <i class="mr-1 fa fa-ruler-horizontal"></i>
          <ng-container i18n="Timeline toggle label@@toggletimeline">Timeline</ng-container>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{ active: !showTimelineNotArtworks }" data-toggle="tab" href="#artworks_tab">
          <i class="mr-1 fa fa-palette"></i>
          <span class="ml-1 mt-auto mb-auto mr-1 artworks-amount">{{ artist?.count }}</span>
          <ng-container i18n="Timeline toggle label@@toggleartworks">Artworks</ng-container>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div *ngIf="showTimelineTab" class="tab-pane fade" [ngClass]="{ 'show active': showTimelineNotArtworks }" id="timeline_tab">
        <app-timeline [artworks]="sliderItems"></app-timeline>
      </div>
      <div class="tab-pane fade" [ngClass]="{ 'show active': !showTimelineNotArtworks }" id="artworks_tab">
        <app-slider [items]="sliderItems"></app-slider>
      </div>
    </div>
  </div>
</div>
