<div class="container entity artist">
  <div class="row mb-5 border-bottom pb-5">
    <div class="col-sm-7" *ngIf="artist">
      <app-title [entity]="artist"></app-title>

      <app-information label="Geboren" [value]="artist?.birth"></app-information>
      <app-information label="Gestorben" [value]="artist?.death"></app-information>

      <div>
        <app-collapse>
          <app-information label="Geschlecht" [value]="artist?.gender"></app-information>
          <app-information label="Nationalität" [value]="artist?.nationality"></app-information>
          <app-information label="Rollen" [value]="artist.roles.join(', ')"></app-information>
          <app-information label="Links" [sourceID]="artist?.sourceId"></app-information>
        </app-collapse>
      </div>
    </div>
    <div class="col-sm-5 img" *ngIf="artist?.imageMedium">
      <img class="img-fluid rounded-circle" src="{{ artist?.imageMedium }}" alt="" />
    </div>
  </div>

  <div *ngIf="sliderItems?.length">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{ active: showTimelineNotArtworks }" data-toggle="tab" href="#timeline_tab">
          <i class="mr-1 fa fa-ruler-horizontal"></i>
          <ng-container i18n="Timeline toggle label@@toggletimeline">Timeline</ng-container>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{ active: !showTimelineNotArtworks }" data-toggle="tab" href="#artworks_tab">
          <i class="mr-1 fa fa-palette"></i>
          <span class="ml-1 mt-auto mb-auto mr-1 artworks-amount">{{ artist?.count }}</span>
          <ng-container i18n="Timeline toggle label@@toggleartworks">Artworks</ng-container>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade" [ngClass]="{ 'show active': showTimelineNotArtworks }" id="timeline_tab">
        <app-timeline [artworks]="sliderItems"></app-timeline>
      </div>
      <div class="tab-pane fade" [ngClass]="{ 'show active': !showTimelineNotArtworks }" id="artworks_tab">
        <app-slider [items]="sliderItems"></app-slider>
      </div>
    </div>
  </div>
</div>
