<div class="container">
  <p>
    <span class="text-success">DDK-ArtBrowser</span> lädt ein, im Deutschen Dokumentationszentrum für Kunstgeschichte –
    Foto Marburg nach Kunstwerken zu stöbern. Auf der Startseite können Sie einfach auf Kunstwerke, Künstler, Genres,
    Standorte, Materialen oder Typen von Kunstwerken klicken. Sie können auch über die komfortable Suche einsteigen.
  </p>
  <p>
    Zu jedem Kunstwerk werden Metadaten sowie verwandte Kunstwerke angezeigt. Verwandt bedeutet hier beispielsweise,
    dass sie vom selben Genre, Künstler oder Material sind, oder etwa ikonographisch dasselbe darstellen. Sind Sie
    interessiert an Gemeinsamkeiten zwischen Kunstwerken? Dann gehen Sie mit der Maus über ein verwandtes Kunstwerk –
    Gemeinsamkeiten werden sofort hervorgehoben.
    Alle Tags sind als Hyperlinks ausgelegt – klicken Sie darauf, um zum nächsten Thema zu gelangen.
  </p>
  <p>Viel Freude!</p>
  <p>
    <span class="text-success">openArtBrowser</span> basiert auf den Daten des
    <a href="https://www.uni-marburg.de/de/fotomarburg">
      Deutschen Dokumentationszentrums für Kunstgeschichte – Foto Marburg
    </a>.
    Die App wurde ursprünglich als Studierendenprojekt an der Hochschule Darmstadt initiiert.
    Sie ist open Source und verfügbar unter
    <a href="https://github.com/hochschule-darmstadt-UAS/ddk-artbrowser">Github</a>.
  </p>
  Kontakt: <br />
  Prof. Dr. Bernhard G. Humm <br />
  Hochschule Darmstadt - University of Applied Sciences <br />
  Haardtring, 100 <br />
  D-64295 <br />
  Darmstadt <br />
  <p>
    <a href="mailto:bernhard.humm@h-da.de">bernhard.humm@h-da.de</a>
  </p>
</div>
