<div class="container entity genre">
  <div class="row mb-5 border-bottom pb-5">
    <div class="col-sm-7" *ngIf="genre">
      <app-title [entity]="genre"></app-title>

      <app-information *ngIf="genre?.sourceID?.length" i18n-label="Links label@@links" label="Links"
                       [sourceID]="genre?.sourceID"></app-information>
    </div>

    <div class="col-sm-5 img" *ngIf="genre?.imageMedium">
      <img class="img-fluid rounded-circle" src="{{ genre?.imageMedium }}" alt="" />
    </div>
  </div>
  <span class="artworks-amount">{{ genre?.count }}</span>
  <span class="ml-1 slider-heading" i18n="Artworks label@@artworks">Artworks</span>
  <app-slider *ngIf="sliderItems?.length" [items]="sliderItems"></app-slider>
</div>
