<div class="container entity material">
  <div class="row mb-5 border-bottom pb-5">
    <div class="col-sm-7" *ngIf="material">
      <app-title [entity]="material"></app-title>

      <app-information *ngIf="material?.sourceIDs?.length" i18n-label="Links label@@links" label="Links"
                       [sourceID]="material?.sourceIDs"></app-information>
    </div>

    <div class="col-sm-5 img" *ngIf="material?.imageMedium">
      <img class="img-fluid rounded-circle" src="{{ material?.imageMedium }}" alt="" />
    </div>
  </div>
  <span class="artworks-amount">{{ material?.count }}</span>
  <span class="ml-1 slider-heading" i18n="Artworks label@@artworks">Artworks</span>
  <app-slider [items]="sliderItems"></app-slider>
</div>
