<div class="container entity material">
  <div class="row mb-5 border-bottom pb-5">
    <div class="col-sm-7" *ngIf="material">
      <app-title [entity]="material"></app-title>
      
      <app-information label="Link" [sourceID]="material?.conceptID"></app-information>
    </div>

    <div class="col-sm-5 img" *ngIf="material?.image">
      <img class="img-fluid rounded-circle" src="{{ material?.imageSmall }}" alt="" />
    </div>
  </div>
  <span class="artworks-amount">{{ material?.count }}</span>
  <span class="ml-1 slider-heading" i18n="Artworks label@@artworks">Artworks</span>
  <app-slider [items]="sliderItems"></app-slider>
</div>
