<div class="container entity movement">
  <div class="row mb-5 border-bottom pb-5">
    <div class="col-sm-7" *ngIf="iconclassData">
      <app-title [entity]="iconclassData"></app-title>
      <span class="subtitle mb-3 text-muted">{{ iconclassData.text[this.ISO_639_1_LOCALE || 'de'] }}</span>

      <app-information *ngIf="hierarchy?.length" i18n-label="hierarchy label@@iconclass_hierarchy"
                       label="Iconclass Hierarchy" [values]="hierarchy"></app-information>
      <app-collapse *ngIf="hasIconographyChildren" class="children"
                    i18n-heading="hierarchy children collapse@@iconclass_children" heading="Children">
        <app-information [values]="children"></app-information>
      </app-collapse>
      <app-information *ngIf="iconclassData.keywords[this.ISO_639_1_LOCALE || 'en']?.length"
                       i18n-label="Inception label@@inception" label="Inception"
                       [value]="iconclassData.keywords[this.ISO_639_1_LOCALE || 'en'].join(', ')"
      ></app-information>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{ active: showCurrentIconographyArtworks }" data-toggle="tab" href="#current_iconography_artworks_tab">
        <i class="mr-1 fa fa-palette"></i>
        <ng-container>{{notation}}</ng-container>
      </a>
    </li>
    <li class="nav-item"> 
      <a class="nav-link"[ngClass]="{ active: !showCurrentIconographyArtworks }" data-toggle="tab" href="#child_iconography_artworks_tab">
        <i class="mr-1 fa fa-palette"></i>
        <ng-container i18n="Children description@@iconclass_children">Children</ng-container>
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade" [ngClass]="{ 'show active': showCurrentIconographyArtworks }" id="current_iconography_artworks_tab">
      <app-slider [items]="sliderItemsCurrentIconography"></app-slider>
    </div>
    <div class="tab-pane fade" [ngClass]="{ 'show active': !showCurrentIconographyArtworks }" id="child_iconography_artworks_tab">
      <app-slider [items]="sliderItemsChildrenIconography"></app-slider>
    </div>
  </div>
</div>
