:host ::ng-deep .app-information-content-badges {
  display: flex;
  flex-flow: column;
}

:host ::ng-deep .children {
  h4 {
    font-size: small;
  }
}

:host ::ng-deep .more {
  margin-left: 5.6rem;
}

.subtitle {
  color: #888;
  font-size: small;
  display: block;
}