<div class="row" *ngIf="value || values?.length || isHref || sourceID">
  <div class="col-md-1 app-information-description">
    <p class="mb-1 text-muted">{{ label }}{{ label ? ':' : '' }}</p>
  </div>

  <div class="app-information-content">
    <p *ngIf="value" class="mb-1 add-padding notchip">
      <span *ngIf="!isHref">{{ value }}</span>
      <a *ngIf="isHref" href="{{ value }}" target="_blank">{{ value }}</a>
    </p>

    <p *ngIf="values?.length" class="mb-1 add-padding app-information-content-badges">
      <app-badge id="badge-{{ entity.id }}" *ngFor="let entity of values; index as i" [entity]="entity"></app-badge>
    </p>

    <p *ngIf="sourceID?.length" class="mb-1 add-padding sourceid notchip">
      <a *ngFor="let sID of sourceID" href="{{ sID.id }}" target="_blank">{{ sID.label }}</a>
    </p>
  </div>
</div>
