<div class="container entity location">
  <div class="row mb-5 border-bottom pb-5">
    <app-wrong-id *ngIf="idDoesNotExist" [id]="locationId"></app-wrong-id>

    <div class="col-sm-7" *ngIf="location">
      <app-title [entity]="location"></app-title>

      <app-information *ngIf="location?.inventoryNumber" i18n-label="Inventory Nr label@@inventorynr"
                       label="Inventory Nr" [value]="location?.inventoryNumber"></app-information>

      <div *ngIf="location?.placeLabel || location?.sourceIDs?.length">
        <app-collapse>
          <app-information *ngIf="location?.placeLabel" i18n-label="Location label@@location" label="Location"
                           [value]="location?.placeLabel"></app-information>
          <app-information *ngIf="location?.sourceIDs?.length" i18n-label="Links label@@links" label="Links"
                           [sourceID]="location?.sourceIDs"></app-information>
        </app-collapse>
      </div>
    </div>

    <div class="col-sm-5 img" *ngIf="location?.imageMedium">
      <img class="img-fluid rounded-circle" src="{{ location?.imageMedium }}" alt="" />
    </div>
  </div>
  <span class="artworks-amount">{{ location?.count }}</span>
  <span class="ml-1 slider-heading" *ngIf="!idDoesNotExist" i18n="Artworks label@@artworks">Artworks</span>
  <app-slider [items]="sliderItems"></app-slider>
</div>
